@media(max-width: 362px){
    .container{
        max-width: 360px;
    }
    .hamburger-menu{
        padding: 25px 15px;
    }
    .about-the-event-container{
        padding: 80px 15px;
    }
    .about-container{
        padding: 80px 15px;
    }
    .quest-ans-container{
        padding: 100px 15px;
    }
    .header{
        padding: 25px 15px;
    }
    .content{
        padding: 0 15px;
    }
    .footer-container{
        padding: 0 15px;
    }
    
}

